/* Primary Color: #ED661F,#FFFFFF,#000000
Font type: Poppins, Inter */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Poppins",'Inter' ;
}
.container{
 
   height: 85vh;
    background-image: url("/assets/images/image\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

  
  
}
/* NAV BAR DESIGN */
nav{
    background-color: #000000;
    color: #FFFFFF;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
nav>ul{
    display: flex;
  }
  nav>ul>li{
      
      display: inline-block;
      margin-right: 40px;
      font-size: 1.1rem;
      font-weight: bolder;
  
  }
a{
    text-decoration: none;
    color: #FFFFFF;
}
.logo{
    font-size: 2rem;
    font-weight: 900;
}

li>a:hover, .arrow:hover{
    text-decoration: 3px underline solid #ED661F;
    transition: 1s;
}
.login{
    font-size: 1.1rem;
    font-weight: bolder; 
    margin-right: 20px;
}
/* .rightnav{
    margin-right: 30px;
} */
.button{
    color: #FFFFFF;
    padding: 12px;
    background-color: #ED661F;
    border: none;
    font-size: 1.1rem;
    font-weight: bolder;
}
nav>button{
    margin-right: 30px;
}

/* HOME SECTION */
.containers{
    width: 75%;
    margin: auto;
    display: flex;
   /* max-height: 60%; */
    margin-top: 50px;
    flex-wrap: wrap-reverse;

}
.content{
    max-width: 650px;
    min-width: 400px;
    margin-right: 30px;
}
.content>h1{
    font-size: 2.7rem;
    font-weight: 900;
}
.content>button{
    padding: 20px;
    font-size: 1.4rem;
    margin-top: 10px;
}

/* DETAILS SECTION */
.details{
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 1px 2px 5px grey;
    margin-top: -100px; 
    width: 650px;
    margin-left:54% ;

   
}
.detailsCont{
    padding: 20px; 
}
.detailsCont p{
    font-weight: 750;
}
.detailsCont p:first-child{
    text-align: center;
}

/* WHY WE EXIST  */
#exist {
    
    font-family: 'Inter','Poppins';
    width: 70%;
    margin: auto;
    margin-top: 80px;
    flex-wrap: wrap;
}
#exist .content{
    margin-right: 70px;
}
#exist h1{
    font-size: 1.4rem;
   
}
.horizontal{
    width: 50px;
    border-bottom:3px solid #ED661F;
    margin-top: 5px;
}


/* OUR PRODUCTS SECTION */

.products{
    /* background-color: crimson; */
    width: 75%;
    margin: auto;
    margin-top: 60px;
}
.prodHead{
    text-align: center;
}
hr {
    border: 2px solid #ED661F;
    width: 60px;
}
.cards{
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.cardContent{
    border: 2px solid rgb(211, 206, 206);
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
}
.cardContent p, h4{
    padding: 0px 0px 0px 10px;
}
.cardContent:hover, .ratingCont{
    box-shadow: 2px 2px 5px grey;
}
.arrow{
   display: flex;
   justify-content: flex-end;
   cursor: pointer;
   margin-top: 40px;
}

/* CUSTOMER REVIEWS */

.ratingCards{
    display: flex;
    justify-content: space-around;
    
}
.ratingCont{
   
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;
    
}
.ratingCont:hover{
    box-shadow: 5px 5px 5px rgb(80, 79, 79);
}
.stars>.fa{
    font-size: 42px;
    color: #ED661F;
}
.ratingCont p{
    font-size: 1.5rem;
    font-weight: 900;
}
.below{
    display: flex;
    margin-top: 40px;
}
.below span{
    padding: 0 30px 0 30px;
    font-weight: 700;
}

/* KEEP IN TOUCH  */
.intouch{
    width: 70%;
    margin: auto;
    background-color: #000000;
    height: 300px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.inCont{
    text-align: center;
}
#email, #subscribe{
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: 650;
    border: none;
}
#subscribe{
    color: #FFFFFF;
    background-color: #ED661F;
    padding: 15px 40px;
    margin-left: 0px;
}

/* FOOTER SECTION */
footer{
    width: 70%;
    margin: auto;
    background-color: #000000;
    height: fit-content;
    color:#FFFFFF;
}
.footerContent{
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
}

.socialIcons .fa-twitter,.fa-facebook-f, .fa-instagram {
    background-color: #E5E5E5;
    border-radius: 30px;
    color: #000000;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
.get{
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
}
.footDet{
   
    display: flex;
    flex-direction: row;
   width:60%;
   justify-content: space-between;
}
.footDet>ul>li{
    list-style: none;
    padding:0px 0px 20px;
}
.footDet>ul>li>span{
    font-weight: 700;
}
footer>p{
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
}
.first>button>span{
    font-size: 1.1rem;
    font-weight: 600;
}

/* MEDIA QUERIES */
@media screen and (max-height:900px){
    nav{
        height: 10%;    
        padding: 0px 5px;

    } 
    nav>ul>li, .login{
        margin-right: 30px;
        font-size: 0.8rem;
    }
    .ratingCont{
        
        margin-top: 20px;
    }
    .logo{
        font-size: 1.4rem;
        font-weight: 900;
    }
    
    footer{
        width: 100%;
        margin: auto;  
    }
    .intouch{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;   
    }
    .containers {
        flex-wrap: wrap-reverse;
       
    }
    #home>.image>img{
        height: 150px;
        
    }
    .details{
        
        display: flex;
        margin-top: -100px; 
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .content>h1{
        font-size: 1.5rem;
        font-weight: 900;
    }
}
@media screen and (max-width:700px){
    #home>.content>h1{
        font-size: 1.5rem;
    }
    .content>button{
        padding: 15px;
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .rightnav>button{
        padding: 7px;
        font-size: 0.9rem;
        
    }
    .cards{
      justify-content: center;  
    
    }
    .cardContent{
        margin: 5px 10px 5px 0;
        font-size: 0.9rem;
    }
    #email, #subscribe{
        padding: 5px;
        font-size: 1.1rem;
        font-weight: 650;
        border: none; 
    }
    .details{
        
        display: flex;
        margin-top: -100px; 
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .ratingCont{
        height: 300px;
        width: 250px;
        margin-top: 20px;
    }
    .stars>.fa{
        font-size: 30px;
        color: #ED661F;
    }
    .ratingCont p{
        font-size: 1.1rem;
        font-weight: 900;
    }
    .below span{
        padding: 0 10px 0 20px;
        font-weight: 600;
    }
    .footDet{
        width: 100%;
       justify-content: space-between;
    }
    footer{
        width: 100%;
        margin: auto;  
    }
    .footerContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .footDet>ul>li{
        padding:20px 0px 10px;
    }
    .image>img{
        min-width: 200px;
        max-width: 300px;
       

    }
}
@media screen and (max-width:630px){
    nav>ul, .rightnav{
        display: none;
        position: absolute;
        z-index: 1;
    }
    #home>.content, #exist>.content{
        
        width: 100%;
        min-width: 50px;
    }
}
